<div class="header" >
  <div style="float:left">
    <div>LOGO HERE</div>
    <h1>Bandbivouac</h1>
  </div>
  <ul>
    <li><%= link_to "Sign up", "#" %></li>
    <li><%= link_to "Log in", "#" %></li>
  </ul>





</div>
