<!DOCTYPE html>
<html>
  <head>
    <title>band bivouac</title>
        <link rel="stylesheet" type="text/css" href="/home/rsil/rails_tutorial/band_bivouac/app/assets/stylesheets/sandbox.css" media="screen">
  </head>

  <body>
    <div class="navbar" >
      <div class="nav_lhs">
        <img src="/home/rsil/rails_tutorial/band_bivouac/app/assets/images/bb_v4.png" alt="logo">
        <h1>band bivouac</h1>
      </div>
      <div class="nav_rhs">
        <a href="#">"Sign up"</a>
        <a href="#">"Log in"</a>

      </div>
    
    
    
    
    
    </div>
    
    <div class="main_body">
      <h1>StaticPages#home</h1>
      Find me in app/views/static_pages/home.html.erb</p>
    </div>
  </body>
</html>
<div class="footer">Footer</div>