<!DOCTYPE html>
<html>
  <head>
    <title>band bivouac</title>
        <link rel="stylesheet" type="text/css" href="/home/rsil/rails_tutorial/band_bivouac/app/assets/stylesheets/sandbox.css" media="screen">
  </head>

  <body>
    <header class="navbar" >
      <div class="nav_lhs">
        <img src="/home/rsil/rails_tutorial/band_bivouac/app/assets/images/bb_v4.png" alt="logo">
        <h1>band bivouac</h1>
      </div>
      <ul class="nav_rhs">
        <li>Sign up</li>
        <li>Log in</li>
      </ul>
    </header>
    
    <div class="main_body">
      <h1>StaticPages#home</h1>
      Find me in app/views/static_pages/home.html.erb</p>
    </div>

    <footer class="footer">
      <ul>
        <li href="#">Help</li>
        <li href="#">Contact</li>
        <li href="#">About</li>
      </ul>
    </footer>
  </body>
</html>
